@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
 

 
 <p>
    ViewBag.Message =  @ViewBag.Message
    </p>

 <p>
    ViewBag.Message2 =  @ViewBag.Message2
    </p>

 <p>
    ViewBag.Message3 =  @ViewBag.Message3
    </p>

 <p>
    ViewBag.Message4 =  @ViewBag.Message4
    </p>

 <p>
    ViewBag.Message5 =  @ViewBag.Message5
    </p>
