

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Assets.Script("jquery.validate.min.js")  
@Assets.Script("jquery.validate.unobtrusive.min.js")   


<div class="products"> 
     @foreach (dynamic p in Model)
     {  
        <div class="product"> 
            <span class="title" >@p.Title</span> <br/> 
            @Assets.PdfLink(@p.PdfUrl, "Link") <br/>
            @p.Description <br/>
            @p.PriceString <br/>
            @p.MemberPriceString <br/>

        </div>
     }
</div>
  
  

@section sidebar{}