

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Assets.Script("jquery.validate.min.js")  
@Assets.Script("jquery.validate.unobtrusive.min.js")   


<div class="vidform"> 
 @foreach (dynamic p in Model)
 { 
    @Form.Label(name: "Title", value: p.Title) 
 
    @Form.Label(name: "Description", value: p.Description) 
 
    @Form.Label(name: "Price", value: p.Price) 
 
    @Form.Label(name: "MemberPrice", value: p.MemberPrice) 
 
    @Form.Label(name: "UpdatedAt", value: p.UpdatedAt) 
 }
</div>
  
<div>
    @Html.ActionLink("Back to List", "Index")
</div>




