

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@Assets.Script("jquery.validate.min.js")  
@Assets.Script("jquery.validate.unobtrusive.min.js")   


<div class="vidform"> 
     @foreach (dynamic p in Model)
     {  
        @p.Title <br/> 
        @p.Description <br/>
        @p.Price <br/>
        @p.MemberPrice <br/>
        @p.UpdatedAt <br/> <br/> <br/> <br/> <br/> 
     }
</div>
  
<div>
    @Html.ActionLink("Back to List", "Index")
</div>




