@{
    ViewBag.Title = "Me";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Me</h2>

 

<div class="vidform"> 
    
    <p> ViewBag.token  : 
        @ViewBag.token
    </p>
    <p> ViewBag.auth : 
        @ViewBag.auth
    </p>
    @*
    @Form.Label(name: "UserName", value: Model.UserName) 
    @Form.Label(name: "Token", value: Model.Token) 
    @Form.Label(name: "Email", value: Model.Email)  *@
</div>

 

