@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string tableName = ViewBag.Table.TableName;
    
    //Editor specific stuff
    string keyField = ViewBag.Table.PrimaryKeyField;
    string keyValue = ViewBag.Table.GetPrimaryKey(Model).ToString();
}
<h1>@Html.ActionLink(tableName,"index") >> Edit @Form.Descriptor(Model)</h1>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.Hidden(keyField, keyValue);
    @Form.BuildInputs(Model)
    <p>
        <input type="submit" value="go" />
    </p>
}
