@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th> 
        <th>
            Value
        </th> 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Name</td>  
        <td>@item.UpdatedAt</td>  
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 

        </td>
    </tr>
}

</table>
