@{
    ViewBag.Title = "Index";
}

 <div id="content" class="grid">
 <h3 style="width:500px; font-style:oblique; margin-left:40px"> Your satisfaction and patronage are important to us.<br /> We are here to ensure your complete satisfaction.<br /> Please contact us for all of your battery equipment needs.<br /><br />
      <img src="/public/images/iBatteryOffice2.jpg" width="289" height="163" alt="office" class="border" />
     </h3>                                     
<div class="clear"></div>
   
     <div id="contactform"> 
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()         
            @Form.TextBoxRequired(name: "Company", value: Model.Company, maxLength:100)   
            @Form.TextBoxRequired(name: "Name", value: Model.Name)   
            @Form.TextBoxRequired(name: "Address1", value: Model.Address1)   
            @Form.TextBoxRequired(name: "City", value: Model.City)   
            @Form.TextBoxRequired(name: "State", value: Model.State, maxLength: 15)   
            @Form.TextBoxRequired(name: "Phone", value: Model.Phone, maxLength: 15)   
            @Form.TextBoxRequired(name: "Email", value: Model.Email)   
            @Form.TextArea(name: "Comment", value: Model.Comment)   
            @Form.Submit(value: "Submit")
            @Html.ValidationSummary(true)  
        } 
         <h3 style="padding-left:130px">BATTERY EQUIPMENT SUPPLY <br> 749 N. Harvard Ave, Villa Park, Illinois <br><br> 630-941-0700 phone<br> 630-941-1679 fax</h3> 
</div>



@section sidebar{  
    <div id="sidebar"> 
        
        <div class="center">
        <iframe height="550" frameborder="1" width="330" scrolling="no" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=749+N.+Harvard+Avenue+,++Villa+Park,+IL&amp;aq=&amp;sll=41.904814,-87.983137&amp;sspn=0.006755,0.010149&amp;g=749+N.+Harvard+Avenue+++Villa+Park,+IL&amp;ie=UTF8&amp;hq=&amp;hnear=749+N+Harvard+Ave,+Villa+Park,+Illinois+60181&amp;ll=41.904814,-87.983137&amp;spn=0.003394,0.005075&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed" marginwidth="0" marginheight="0"></iframe><br>
        <small><a style="color:#0000FF;text-align:left" href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=749+N.+Harvard+Avenue+,++Villa+Park,+IL&amp;aq=&amp;sll=41.904814,-87.983137&amp;sspn=0.006755,0.010149&amp;g=749+N.+Harvard+Avenue+++Villa+Park,+IL&amp;ie=UTF8&amp;hq=&amp;hnear=749+N+Harvard+Ave,+Villa+Park,+Illinois+60181&amp;ll=41.904814,-87.983137&amp;spn=0.003394,0.005075&amp;t=m&amp;z=14&amp;iwloc=A">View Larger Map</a></small>
        </div> 
    </div>
}








