<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0042)http://battery.apphb.com/Public/About.aspx -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Battery Equipment Supply </title>
    @Assets.CSS("style.css")
    @Assets.jQuery("local")
    @Assets.Script("modernizr-1.7.min.js")
    <meta name="description" content="Battery Equipment Supply has proudly supplied Chicago with industrial equipment and supplies for batteries and chargers, since 1977" />
    <meta name="keywords" content="Battery, battery equipment supply, industrial battery, industrial battery sales and service, industrial battery products, industrial battery villa park, lead acid battery, sealed lead acid battery, crown battery, reconditioned battery, electric forklift battery, industrial battery Chicago, powerhouse charger, high frequency charger, opportunity charger, fast charger, Hobart charger, ametek charger, prestolite power charger, lester charger, charger parts, ametek AC1000 contol board, MTC battery handling equipment, flow-rite watering system, battery repair, battery reconditioning, battery cell replacement, crown lift truck battery, Raymond lift truck battery, yale lift truck battery, Hyster lift truck battery, Toyota lift truck battery, Nissan lift truck battery, reconditioned forklift battery, battery cables, battery connector, material handling" />
</head>
<body>
    <div id="wrapper">
        <!-- start #menu -->
        <div id="menu">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { })</li>
                <li>@Html.ActionLink("Products", "Index", "Products", new { area = "" }, new { })</li>
                <li>@Html.ActionLink("Contact", "Index", "Contact", new { area = "" }, new { })</li> 
            </ul>
            <div class="right">
            </div>
        </div>
        <!-- end #menu -->
    <div id="splash">
    </div>
    <!-- end #header -->
    <div id="page">
        <div id="page-bgtop">
            <div id="page-bgbtm">
                <div id="content" class="grid">
                    <div id="content">
                        <div class="contentHolder" contentname="About">
                            @RenderBody()
                        </div>
                    </div>
                </div>

                @RenderSection("sidebar")

                <div style="clear: both;">
                    &nbsp;</div>
            </div>
        </div>
    </div>
    <!-- end #page -->
    <!-- start #footer -->
    <div id="footer-wrapper">
        <div id="footer">
            <p style="color: #d1d1d1; text-align: center; font-size: 0.85em; padding: 1.2em">
                <a href="http://battery.apphb.com/Public/Default.aspx" style="color: #d1d1d1; padding: 0 2em">
                    Home</a> <a href="http://battery.apphb.com/Public/Products.aspx" style="color: #d1d1d1;
                        padding: 0 2em">Products</a> <a href="./Industrial Battery.htm" style="color: #d1d1d1;
                            padding: 0 2em">About</a> <a href="http://battery.apphb.com/Public/Services.aspx"
                                style="color: #d1d1d1; padding: 0 2em">Services</a> <a href="http://battery.apphb.com/Public/Contact.aspx"
                                    style="color: #d1d1d1; padding: 0 2em">Contact</a><br>
                <br>
                Industrial Battery Sales and Service&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                749 N. Harvard Ave, Villa Park, Illinois &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;630-941-0700
                phone</p>
        </div>
        <!-- end #footer -->
    </div></div>
</body>
</html>
