@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>




<div class="vidform">  
        @Form.Label(name: "Title", value: Model.Title) 
        @Form.Label(name: "Genre", value: Model.Genre) 
        @Form.Label(name: "Price", value: Model.Price) 
        @Form.Label(name: "Rating", value: Model.Rating) 
</div>
 


<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
